
body { width: 100%; margin: 0; }
.header {  }
.sticky { position: fixed;  top: 0;  width: 100%;  background: #777;  z-index: 2; }

.header ul { list-style: none; }
.header ul li {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
}

.text-color-white { color: white; }
.text-color-black { color: black; }
.text-size-12x { font-size: 1.2em; }
.text-size-14x { font-size: 1.4em; }
.text-size-16x { font-size: 1.6em; }
.text-size-18x { font-size: 1.8em; }
.text-size-20x { font-size: 2.0em; }
.button-small { padding: 8px; text-align: center; }
.button-middle { padding: 16px; text-align: center; }
.button-large { padding: 28px; text-align: center; }

a { text-decoration: none }

.header ul li a {  color: white;  display: inline-block;  }
.header ul li a:hover {  color: blue;  }
.header ul li .button-small {  display: inline-block;  border: none;  border-radius: 2px; }

#signup, #quick-sign-up { background-color: #4caf50; }
#signup:hover, #quick-sign-up:hover { background-color: #4c9950; }
#login { background-color: blue;  }
#login:hover { background-color: darkblue; }

#header-part-1 { display: inline-block; }
#header-part-2 { display: inline-block; float: right;  margin-right: 5%; }
#header-part-2 ul li {  margin-left: 12px;  margin-right: 12px; }

#content { background-color: bisque; }
#play-video { border: solid white; border-radius: 32px; background: none; }
#play-video:hover { background-color: #777777; }

#quick-sign-up-container { margin-top: 36px; }
#quick-sign-up-input { padding: 8px; }
#quick-sign-up { border: none; border-radius: 6px; }

#content-section-2 .item { height: 350px; margin: 0; }
#content-section-2-description { width: 50%; padding-top: 5%; }

.footer { padding: 16px 16px; background-color: #777777; }
.footer a { color: #fafafa; margin: 0 16px; }
.footer a:hover { color: blue }
.footer p span:hover { color: cyan }

/**
 * attribute to control center of a element
 */
.center-vertical-line-height { /* center a text with fixed line-height set*/ }
.center-vertical-v-align { vertical-align: middle; }
.center-horizontal-inline-children {  text-align: center;  }
.center-horizontal-this-block {  margin: 0 auto;  } /* This element must have fixed width set */

/**
 * control a child dimension relationship with parent
 */
.fill-horizontal {  width: 100%;  height: auto;  }
.fill-vertical {  width: auto;  height: 100%;  }
.fill-parent {  width: 100%;  height: 100%;  }

/**
 * position attribute
 */
.position-absolute {  position: absolute;  }
.position-relative {  position: relative;  }
.position-fixed {  position: fixed;  }

.at-top-left {  top: 0;  left: 0;  }
.at-top-right {  top: 0;  right: 0;  }
.at-bottom-left {  bottom: 0;  left: 0;  }
.at-bottom-right {  bottom: 0;  right: 0;  }

/**
 * attribute about display
 */
.display-inline-block {  display: inline-block;  }
.display-block {  display: block;  }
.display-table {  display: table;  }
.display-table-cell {  display: table-cell;  }

/**
 * attribute about float
 */
.float-left {  float: left;  }
.float-right {  float: right; }
